services:
  - type: web
    name: hair-haven-hub
    env: python
    buildCommand: |
      pip install --upgrade pip
      pip install -r requirements.txt
    startCommand: gunicorn main:app
    envVars:
      - key: PYTHON_VERSION
        value: 3.9.18
      - key: SECRET_KEY
        generateValue: true
      - key: ADMIN_EMAIL
        value: admin@yourdomain.com  # CHANGE THIS
      - key: ADMIN_PASSWORD
        value: YourStrongPassword123!  # CHANGE THIS
    plan: free
