body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #f2f2f2;
    text-align: center;
    padding: 20px;
}

main {
    padding: 20px;
}

a {
    color: blue;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
}
